@import "compass/css3";

$bgcolor: #19bc9c;

.release-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: $bgcolor;
    background-color: rgba($bgcolor, .8);
    @include border-radius(50%);
}

.release-indicator-active {
    @include transition(all .2s linear);
}
